@inherits LayoutComponentBase

<div class="bg-admin2 text-white p-2 cart-bar">
    <div class="row ml-5">
        <div class="col ml-2">
            <span class="navbar-brand">ATBooks Admin</span>
        </div>

        <div class="col-2 text-right pt-1">
            <a class="btn btn-sm btn-outline-primary-cart" href="/account/logout">Log out</a>
        </div>
    </div>
</div>

<div class="row p-2">

    <div class="col-2">

        <div class="d-grid gap-2">
            <NavLink class="btn admin-control-btn" href="/admin/books"
                        ActiveClass="admin-control-btn-active text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
            <NavLink class="btn admin-control-btn" href="/admin/orders"
                        ActiveClass="admin-control-btn-active text-white" Match="NavLinkMatch.Prefix">Orders</NavLink>
        </div>

    </div>

    <div class="col" style="height: 325px; overflow-y: scroll; border-radius: 7px;">
        @Body
    </div>
    <br /><br />
</div>