@inherits LayoutComponentBase

<div class="bg-admin text-white p-2 cart-bar">

    <div class="container-fluid">
        
        <div class="row">

            <div class="col">
                <span class="navbar-brand m-lg-2 head">ATBooks Admin</span>
            </div>

            <div class="col-2 text-right">
                <a class="btn btn-sm btn-outline-primary-cart" href="/account/logout">Log out</a>
            </div>

        </div>

    </div>

</div>

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3">

            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary" href="/admin/books"
                         ActiveClass="btn-outline-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
                <NavLink class="btn btn-outline-primary" href="/admin/orders"
                         ActiveClass="btn-outline-primary text-white" Match="NavLinkMatch.Prefix">Orders</NavLink>
            </div>

        </div>

        <div class="col">
            @Body
        </div>
        <br /><br />

    </div>

</div>