@{
}

@model Purchase

<div class="checkout-form container col-5">
    <h2 class="purchase-header">Done shopping?</h2>
    <p>Please enter your details before checkout.</p>

    <form method="post" asp-controller="Purchase" asp-action="Checkout">

        <div asp-validation-summary="All" class="text-danger"></div>
    
        <h4 class="purchase-header">Contact information:</h4>

        <div class="form-group">
            <label asp-for="Name" class="form-label">Name:</label>
            <input asp-for="Name" class="form-control col-7" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="form-label">Email:</label>
            <input asp-for="Email" class="form-control col-7" />
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="form-label">Phone:</label>
            <input asp-for="Phone" class="form-control col-7" />
        </div>

        <br />
        <div class="float-start">
            <input class="btn btn-primary-cart" type="submit" value="Checkout" />
        </div>
    </form>
</div>