@{
    ViewData["Title"] = "Home";
}

@model BooksViewModel

@foreach (Books b in Model.Books)
{
    <partial name="BookstoreSummary" model="b"/>
}

<div class="custom-nav">
        <div page-list="@Model.PageInfo" page-action="Index" page-class="page-link"
             page-class-normal="page-link" page-class-selected="page-link fw-bolder text-decoration-underline" page-classes-enabled="true"
             class="pagination col-6">
        </div>
</div>