@{
    ViewData["Title"] = "Home";
}

@model BooksViewModel

@foreach (Books b in Model.Books)
{
    <partial name="BookstoreSummary" model="b"/>
}

<div class="custom-nav">
    <div page-list="@Model.PageInfo" page-action="Index" page-class="nav-link"
         page-class-normal="nav-link" page-class-selected="nav-link fw-bolder text-decoration-underline" page-classes-enabled="true"
         class="navbar col-4">
    </div>
</div>