@{
    ViewData["Title"] = "Home";
}

@model BooksViewModel

<div class="row">
    @foreach (Books b in Model.Books)
{
    <div class="col-4">
        <partial name="BookstoreSummary" model="b"/>
    </div>
}
</div>


<div class="custom-nav pt-2">
    <div page-list="@Model.PageInfo" page-action="Index" page-class="page-link"
            page-class-normal="page-link" page-class-selected="page-link page-link-selected fw-bolder" page-classes-enabled="true"
            class="pagination col-6">
    </div>
</div>