@page
@model ATBooks.Pages.PurchaseModel
@{
}

<div class="text-center">
    <h2>Thank you! Please stop by again soon!</h2>
    <a class="btn btn-outline-primary" asp-controller="Home">Home</a>
</div>