@page
@model ATBooks.Pages.PurchaseModel
@{
}

<div class="text-center">
    <h2 class="purchase-header">Thank you! Please stop by again soon!</h2>
    <a class="btn btn-primary-cart" asp-controller="Home">Home</a>
</div>