<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/css/main.css" />
</head>
<body class="container col-7">
    <div>
        @RenderBody()
    </div>
    <footer class="modal-footer">ATBooks</footer>
    <br /><br />
</body>
</html>
