<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&display=swap"
          rel="stylesheet">
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />

</head>
<body class="">

    <div class="cart-bar p-2 mt-0 main-nav">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <a class="btn btn-sm btn-outline-primary-cart float-end" href="/admin">Log in</a>
                </div>
                <div class="col-6">
                    <h2 class="text-center text-white mb-0">A&T's Bookstore</h2>
                </div>
                <div class="col-3 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>
    <div class="m-1 p-1 pt-3 container justify-content-end">
        <br /><br /><br />
        <div class="col-9">
            <div class="row">

                <div class="col-3">

                </div>

                <div id="categories" class="col-2">
                    <vc:categories></vc:categories>
                </div>

                <div class="col-7">
                    @RenderBody()
                </div>
        </div>
        </div>

    </div>

    <footer class="modal-footer site-footer">Aubree and Tyler &copy ATBooks</footer>
    <br /><br />
</body>
</html>
